<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
	<entry key="selectKanbanList">
		SELECT PRO_NO, EMP_NAME, PRO_NM, PRO_CONTENT, K.STATUS, START_DATE, END_DATE
		FROM KANBAN K
		JOIN EMPLOYEE USING (EMP_NO)
	</entry>
	
	<entry key="insertKanban">
		INSERT INTO KANBAN(PRO_NO, EMP_NO, PRO_NM, PRO_CONTENT, END_DATE)
		VALUES(SEQ_KNO.NEXTVAL,TO_NUMBER(?),?,?,?)
	
	</entry>
	<entry key="updateKanbanStatus">
		UPDATE KANBAN
		   SET STATUS =?
		 WHERE PRO_NO = ?
	</entry>
	<entry key="updateKanban">
		UPDATE KANBAN
		   SET PRO_NM = ?
		   	  ,PRO_CONTENT = ?
		   	  ,END_DATE = ?
		 WHERE PRO_NO = ?
	</entry>
	<entry key="deleteKanban">
		DELETE KANBAN
		WHERE PRO_NO = ?
	
	</entry>


</properties>